
*.tif
ML_InputData/ML_review/drnDens_pts_2018.csv
ML_InputData/Inundation.csv
*.csv
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.zip
ML_InputData/mltrainingdataset.csv
*.R
!/ML_InputData/X_train.csv

!/ML_InputData/y_train.csv
